@page "/forceBuilder"

<PageTitle>Army Builder</PageTitle>
<form id="Army Form">
    <label for="forceName">Force name:</label>
    <input type="text" id="forceName" name="forceName">
    <br>
    <label for="supplyLimit">Supply Limit:</label>
    <input type="text" id="supplyLimit" name="supplyLimit">
    <label for="supplyUsed">Supply Used:</label>
    <input type="text" id="supplyUsed" name="supplyUsed">
    <br>
    <label for="battleTally">Battles Fought:</label>
    <input type="text" id="battleTally" name="battleTally">
    <label for="battlesWon">Battles Won:</label>
    <input type="text" id="battlesWon" name="battlesWon">
    <label for="requisitionPoints">Requisition Points:</label>
    <input type="text" id="requisitionPoints" name="requisitionPoints">
    <br />
    <p>Add Units:</p>
    <button type="button">Add Unit</button>
</form>


@code {

}
